node_modules

# .next directory is generated at build time and contains the production build output.
# https://nextjs.org/docs/pages/api-reference/next-config-js/output
.next/
public/
analyze/

.env
.env.local
.env.development
.env.production

.terraform
.terraform.d
terraform.tfvars
*.tfstate
*.tfstate.*

.DS_Store
tmp/

MEMO.md