name: Build - Test - Lint
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Dependencies and Build
        working-directory: ./next-app
        run: |
          npm install
          npm run build

      - name: Test
        working-directory: ./next-app
        run: |
          npm run test

      - name: Lint
        working-directory: ./next-app
        run: |
          npm run lint
